body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:113px;
  width:684px;
  height:187px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:187px;
}
#u3 {
  position:absolute;
  left:2px;
  top:86px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:50px;
  width:169px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:77px;
  top:140px;
  width:319px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:77px;
  top:203px;
  width:223px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:56px;
  top:357px;
  width:291px;
  height:76px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:51px;
  top:321px;
  width:221px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:21px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:51px;
  top:352px;
  width:302px;
  height:88px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:88px;
}
#u14 {
  position:absolute;
  left:2px;
  top:36px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:406px;
  top:357px;
  width:291px;
  height:76px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0.699999988079071;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0.699999988079071;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:32px;
  width:50px;
  height:50px;
  opacity:0.699999988079071;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:294px;
  top:463px;
  width:286px;
  height:13px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
  opacity:0.300000011920929;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u26 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:164px;
  top:123px;
  width:473px;
  height:287px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:287px;
}
#u28 {
  position:absolute;
  left:2px;
  top:112px;
  width:469px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:260px;
  top:316px;
  width:280px;
  height:47px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
