body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:33px;
  top:433px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:600px;
  top:90px;
  width:140px;
  height:21px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:560px;
  top:82px;
  width:10px;
  height:389px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:372px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:389px;
}
#u5 {
  position:absolute;
  left:600px;
  top:128px;
  width:140px;
  height:23px;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:33px;
  top:30px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:500px;
  width:560px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u12 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:33px;
  top:170px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u14 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:33px;
  top:260px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u16 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:33px;
  top:346px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u18 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:33px;
  top:83px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:140px;
  top:564px;
  width:360px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
