body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:33px;
  top:82px;
  width:504px;
  height:417px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:417px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:350px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:87px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:177px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u8 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:263px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u10 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
  font-size:20px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:77px;
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:500px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:600px;
  top:90px;
  width:140px;
  height:21px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:560px;
  top:82px;
  width:10px;
  height:389px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:372px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:389px;
}
#u16 {
  position:absolute;
  left:600px;
  top:128px;
  width:140px;
  height:23px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:33px;
  top:30px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
  opacity:0.300000011920929;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u21 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:242px;
  top:260px;
  width:316px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:33px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:300px;
  top:128px;
  width:200px;
  height:112px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:112px;
}
#u25 {
  position:absolute;
  left:2px;
  top:47px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:87px;
  top:540px;
  width:641px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:48px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  white-space:nowrap;
}
