body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u2 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:33px;
  top:55px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:33px;
  top:130px;
  width:457px;
  height:300px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:300px;
}
#u6 {
  position:absolute;
  left:2px;
  top:142px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:510px;
  top:130px;
  width:360px;
  height:140px;
  font-size:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
#u8 {
  position:absolute;
  left:2px;
  top:40px;
  width:356px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:510px;
  top:290px;
  width:360px;
  height:140px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
#u10 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:151px;
  width:430px;
  height:269px;
  font-size:26px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:269px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:98px;
  top:459px;
  width:732px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:38px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:140px;
  top:75px;
  width:620px;
  height:390px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:390px;
}
#u16 {
  position:absolute;
  left:2px;
  top:187px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:289px;
  top:119px;
  width:401px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:259px;
  top:377px;
  width:161px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:479px;
  top:377px;
  width:161px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:183px;
  top:157px;
  width:247px;
  height:160px;
  font-size:18px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:160px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-6px;
  width:243px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:225px;
  top:325px;
  width:450px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:38px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:479px;
  top:157px;
  width:247px;
  height:160px;
  font-size:18px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:160px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:243px;
  word-wrap:break-word;
}
