body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:149px;
  width:230px;
  height:250px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:450px;
  top:564px;
  width:0px;
  height:-150px;
}
#u3_seg0 {
  position:absolute;
  left:-10px;
  top:-154px;
  width:20px;
  height:164px;
}
#u4 {
  position:absolute;
  left:-50px;
  top:-83px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:330px;
  top:580px;
  width:257px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
