body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:66px;
  width:357px;
  height:334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:160px;
  width:353px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:460px;
  width:380px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:434px;
  top:66px;
  width:182px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:434px;
  top:368px;
  width:167px;
  height:32px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:744px;
  top:217px;
  width:17px;
  height:64px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:64px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:767px;
  top:220px;
  width:18px;
  height:61px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:61px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:434px;
  top:109px;
  width:150px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
