body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:994px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u478 {
  position:absolute;
  left:577px;
  top:275px;
  width:73px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u480 {
  position:absolute;
  left:71px;
  top:574px;
  width:384px;
  height:114px;
  font-size:16px;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u483 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u484 {
  position:absolute;
  left:33px;
  top:55px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u486 {
  position:absolute;
  left:33px;
  top:130px;
  width:457px;
  height:300px;
}
#u487 {
  position:absolute;
  left:2px;
  top:142px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u488 {
  position:absolute;
  left:510px;
  top:130px;
  width:360px;
  height:140px;
  font-size:28px;
}
#u489 {
  position:absolute;
  left:2px;
  top:40px;
  width:356px;
  word-wrap:break-word;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u490 {
  position:absolute;
  left:510px;
  top:290px;
  width:360px;
  height:140px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u491 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u492 {
  position:absolute;
  left:50px;
  top:151px;
  width:430px;
  height:269px;
  font-size:26px;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u494 {
  position:absolute;
  left:832px;
  top:710px;
  width:0px;
  height:0px;
}
#u494_seg0 {
  position:absolute;
  left:-4px;
  top:-294px;
  width:8px;
  height:294px;
}
#u494_seg1 {
  position:absolute;
  left:-2px;
  top:-294px;
  width:6px;
  height:8px;
}
#u494_seg2 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:20px;
  height:21px;
}
#u494_seg3 {
  position:absolute;
  left:-12px;
  top:-300px;
  width:21px;
  height:20px;
}
#u495 {
  position:absolute;
  left:-50px;
  top:-154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u496 {
  position:absolute;
  left:721px;
  top:714px;
  width:273px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u498 {
  position:absolute;
  left:660px;
  top:590px;
  width:0px;
  height:0px;
}
#u498_seg0 {
  position:absolute;
  left:-4px;
  top:-334px;
  width:8px;
  height:334px;
}
#u498_seg1 {
  position:absolute;
  left:-2px;
  top:-334px;
  width:6px;
  height:8px;
}
#u498_seg2 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:20px;
  height:21px;
}
#u498_seg3 {
  position:absolute;
  left:-12px;
  top:-340px;
  width:21px;
  height:20px;
}
#u499 {
  position:absolute;
  left:-50px;
  top:-174px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u500 {
  position:absolute;
  left:577px;
  top:594px;
  width:145px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u501 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
