body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:201px;
  top:34px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u1 {
  position:absolute;
  left:2px;
  top:25px;
  width:115px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:201px;
  top:334px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:201px;
  top:190px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:260px;
  top:256px;
  width:0px;
  height:78px;
  font-size:16px;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:92px;
}
#u7 {
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:17px;
  top:334px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:201px;
  top:223px;
  width:-125px;
  height:111px;
  font-size:16px;
}
#u10_seg0 {
  position:absolute;
  left:-135px;
  top:-10px;
  width:139px;
  height:20px;
}
#u10_seg1 {
  position:absolute;
  left:-135px;
  top:-10px;
  width:20px;
  height:125px;
}
#u11 {
  position:absolute;
  left:-168px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:100px;
  width:0px;
  height:90px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:201px;
  top:494px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:260px;
  top:400px;
  width:0px;
  height:94px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:108px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:201px;
  top:624px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:260px;
  top:560px;
  width:0px;
  height:64px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:78px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:451px;
  top:494px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:320px;
  top:527px;
  width:131px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:145px;
  height:20px;
}
#u25 {
  position:absolute;
  left:16px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:451px;
  top:624px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1px;
  width:115px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:320px;
  top:657px;
  width:131px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:145px;
  height:20px;
}
#u29 {
  position:absolute;
  left:16px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:201px;
  top:774px;
  width:119px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u31 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:260px;
  top:690px;
  width:0px;
  height:84px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:98px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
