body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:49px;
  top:39px;
  width:193px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:230px;
  top:123px;
  width:370px;
  height:45px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:137px;
  top:133px;
  width:73px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:230px;
  top:220px;
  width:370px;
  height:45px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:161px;
  top:230px;
  width:49px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:230px;
  top:330px;
  width:350px;
  height:60px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:210px;
  top:450px;
  width:365px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:840px;
  top:250px;
  width:-280px;
  height:0px;
}
#u13_seg0 {
  position:absolute;
  left:-284px;
  top:-10px;
  width:294px;
  height:20px;
}
#u14 {
  position:absolute;
  left:-190px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:824px;
  top:155px;
  width:-260px;
  height:0px;
}
#u15_seg0 {
  position:absolute;
  left:-264px;
  top:-10px;
  width:274px;
  height:20px;
}
#u16 {
  position:absolute;
  left:-180px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:837px;
  top:145px;
  width:183px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:850px;
  top:244px;
  width:183px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:13px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
