body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:20px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:42px;
  top:30px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:517px;
  top:59px;
  width:193px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:41px;
  top:332px;
  width:302px;
  height:88px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:88px;
}
#u8 {
  position:absolute;
  left:2px;
  top:36px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:396px;
  top:337px;
  width:291px;
  height:76px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0.699999988079071;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:50px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0.699999988079071;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:32px;
  width:50px;
  height:50px;
  opacity:0.699999988079071;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:284px;
  top:443px;
  width:286px;
  height:13px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:46px;
  top:337px;
  width:291px;
  height:76px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:275px;
  top:221px;
  width:193px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:273px;
  top:130px;
  width:197px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:29px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:67px;
  top:184px;
  width:643px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:626px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:643px;
  height:1px;
}
#u25 {
  position:absolute;
  left:10px;
  top:20px;
  width:800px;
  height:500px;
  opacity:0.300000011920929;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u26 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:240px;
  top:380px;
  width:290px;
  height:50px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:325px;
  top:310px;
  width:120px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:290px;
  top:130px;
  width:180px;
  height:160px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:160px;
}
#u31 {
  position:absolute;
  left:2px;
  top:70px;
  width:176px;
  word-wrap:break-word;
}
