body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:580px;
  top:150px;
  width:230px;
  height:250px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
