body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:33px;
  top:55px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:33px;
  top:130px;
  width:457px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:510px;
  top:130px;
  width:360px;
  height:140px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
#u7 {
  position:absolute;
  left:2px;
  top:40px;
  width:356px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:510px;
  top:290px;
  width:360px;
  height:140px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
#u9 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:151px;
  width:430px;
  height:269px;
  font-size:26px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:269px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:98px;
  top:459px;
  width:732px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:38px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:564px;
  width:641px;
  height:114px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:114px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  word-wrap:break-word;
}
