body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:747.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:267px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:416px;
  top:160px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:160px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:317px;
  top:120px;
  width:149px;
  height:40px;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u6_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:169px;
  height:20px;
}
#u6_seg2 {
  position:absolute;
  left:139px;
  top:20px;
  width:20px;
  height:24px;
}
#u7 {
  position:absolute;
  left:14px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:317px;
  top:120px;
  width:-147px;
  height:40px;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u8_seg1 {
  position:absolute;
  left:-157px;
  top:20px;
  width:167px;
  height:20px;
}
#u8_seg2 {
  position:absolute;
  left:-157px;
  top:20px;
  width:20px;
  height:24px;
}
#u9 {
  position:absolute;
  left:-114px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:416px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:416px;
  top:380px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:416px;
  top:480px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:267px;
  top:580px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:416px;
  top:580px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:466px;
  top:330px;
  width:0px;
  height:50px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:466px;
  top:440px;
  width:0px;
  height:40px;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:466px;
  top:220px;
  width:0px;
  height:50px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:120px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:120px;
  top:380px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:170px;
  top:220px;
  width:0px;
  height:50px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:170px;
  top:330px;
  width:0px;
  height:50px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:170px;
  top:440px;
  width:97px;
  height:170px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:184px;
}
#u34_seg1 {
  position:absolute;
  left:-10px;
  top:160px;
  width:111px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:120px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:416px;
  top:610px;
  width:-49px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-53px;
  top:-10px;
  width:63px;
  height:20px;
}
#u37 {
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:466px;
  top:540px;
  width:0px;
  height:40px;
}
#u38_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:416px;
  top:510px;
  width:-99px;
  height:70px;
}
#u40_seg0 {
  position:absolute;
  left:-109px;
  top:-10px;
  width:113px;
  height:20px;
}
#u40_seg1 {
  position:absolute;
  left:-109px;
  top:-10px;
  width:20px;
  height:84px;
}
#u41 {
  position:absolute;
  left:-134px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:609px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:609px;
  top:380px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:609px;
  top:480px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:609px;
  top:580px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:659px;
  top:330px;
  width:0px;
  height:50px;
}
#u50_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u51 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:659px;
  top:440px;
  width:0px;
  height:40px;
}
#u52_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u53 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:659px;
  top:540px;
  width:0px;
  height:40px;
}
#u54_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u55 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:709px;
  top:610px;
  width:-342px;
  height:-520px;
}
#u56_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:42px;
  height:20px;
}
#u56_seg1 {
  position:absolute;
  left:18px;
  top:-530px;
  width:20px;
  height:540px;
}
#u56_seg2 {
  position:absolute;
  left:-346px;
  top:-530px;
  width:384px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-22px;
  top:-439px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:516px;
  top:300px;
  width:93px;
  height:0px;
}
#u58_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:107px;
  height:20px;
}
#u59 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
