body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:351px;
  top:27px;
  width:135px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:108px;
  top:83px;
  width:584px;
  height:77px;
  font-size:18px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:77px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:580px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:108px;
  top:176px;
  width:584px;
  height:77px;
  font-size:18px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:77px;
}
#u7 {
  position:absolute;
  left:2px;
  top:28px;
  width:580px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1px;
  top:450px;
  width:798px;
  height:40px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:108px;
  top:269px;
  width:584px;
  height:77px;
  font-size:18px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:77px;
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:580px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:108px;
  top:362px;
  width:584px;
  height:77px;
  font-size:18px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:77px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:580px;
  word-wrap:break-word;
}
