body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:107px;
  top:148px;
  width:587px;
  height:74px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:28px;
  width:583px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:296px;
  width:800px;
  height:204px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:204px;
}
#u5 {
  position:absolute;
  left:2px;
  top:94px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:447px;
  top:462px;
  width:101px;
  height:21px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:580px;
  top:462px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:288px;
  top:462px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:214px;
  top:462px;
  width:34px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:702px;
  top:174px;
  width:33px;
  height:23px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:538px;
  top:593px;
  width:0px;
  height:-110px;
}
#u19_seg0 {
  position:absolute;
  left:-10px;
  top:-114px;
  width:20px;
  height:124px;
}
#u20 {
  position:absolute;
  left:-50px;
  top:-63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:500px;
  top:616px;
  width:339px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:64px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:366px;
  top:462px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:400px;
  top:729px;
  width:2px;
  height:-240px;
}
#u25_seg0 {
  position:absolute;
  left:-10px;
  top:-250px;
  width:20px;
  height:254px;
}
#u25_seg1 {
  position:absolute;
  left:-10px;
  top:-250px;
  width:16px;
  height:20px;
}
#u26 {
  position:absolute;
  left:-50px;
  top:-129px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:310px;
  top:748px;
  width:305px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:122px;
  top:87px;
  width:530px;
  height:23px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:23px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:122px;
  top:232px;
  width:449px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
